*.o
*.a
/base/benchmarks/speed_hybrj1
/base/benchmarks/speed_lmder1
/base/benchmarks/speed_lmder1_cross
/base/benchmarks/speed_lmdif1
/base/benchmarks/speed_lmdif1_cross
/base/tests/test_chkder
/base/tests/test_hybrd1
/base/tests/test_hybrj1
/base/tests/test_lmder1
/base/tests/test_lmdif1
/lapackified/tests/test_chkder
/lapackified/tests/test_hybrd1
/lapackified/tests/test_hybrj1
/lapackified/tests/test_lmder1
/lapackified/tests/test_lmdif1
/f2ced/tests/test_chkder
/f2ced/tests/test_hybrd1
/f2ced/tests/test_hybrj1
/f2ced/tests/test_lmder1
/f2ced/tests/test_lmdif1
