*.o
*.a
/base/benchmarks/speed_hybrj1
/base/benchmarks/speed_lmder1
/base/benchmarks/speed_lmder1_cross
/base/benchmarks/speed_lmdif1
/base/benchmarks/speed_lmdif1_cross
/base/tests/test_chkder
/base/tests/test_hybrd1
/base/tests/test_hybrj1
/base/tests/test_lmder1
/base/tests/test_lmdif1
/lapackified/tests/test_chkder
/lapackified/tests/test_hybrd1
/lapackified/tests/test_hybrj1
/lapackified/tests/test_lmder1
/lapackified/tests/test_lmdif1
/f2ced/tests/test_chkder
/f2ced/tests/test_hybrd1
/f2ced/tests/test_hybrj1
/f2ced/tests/test_lmder1
/f2ced/tests/test_lmdif1
/fortran/benchmarks/speed_hybrj1
/fortran/benchmarks/speed_lmder1
/fortran/benchmarks/speed_lmder1_cross
/fortran/benchmarks/speed_lmdif1
/fortran/benchmarks/speed_lmdif1_cross
/fortran/tests/test_chkder
/fortran/tests/test_hybrd1
/fortran/tests/test_hybrj1
/fortran/tests/test_lmder1
/fortran/tests/test_lmdif1
/lapackified/benchmarks/speed_hybrj1
/lapackified/benchmarks/speed_lmder1
/lapackified/benchmarks/speed_lmder1_cross
/lapackified/benchmarks/speed_lmdif1
/lapackified/benchmarks/speed_lmdif1_cross
/distributed/benchmarks/speed_lmdif1_cross
/distributed/benchmarks/speed_lmdif1
/distributed/tests/test_extrablacs
/distributed/tests/test_plmdif1
